/*******************************************
            Coded by: Daniel Toft
*******************************************/


/* Sets the background image and default text-align to center */
body {
    background-image: url(images/great_barrier_reef.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.container {

    /*
    Used to check that the elements are inside the box. Makes it easier to work on placement
    border: solid 3px red;
    */
}
/* Makes the content of the 3 main-containers center */
.container#welcome-gbr, .container#fun-facts-gull-ivar, .container#deeper-dive-gull-ivar  {
    text-align: center;
    width: 100%;
    top: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* aligns on vertical for column */
    align-items: center; /* aligns on horizontal for column */
}

/*************************************
        FONT-SIZES
*************************************/
h1 {
    font-size: 35px;
}

h2 {
    font-size: 32px;
}

h3, h4 {
    font-size: 29px;
}

p {
    font-size: 22px;
}

.backside-card-p {
    font-size: 17px;
}


/*************************************
        IMAGES
*************************************/
#gull-ivar-flipped {
    position: relative;
    transform: scaleX(-1);
    animation-name: gull-ivar-flipped-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#cartoon-shark {
    position: relative;
    animation-name: cartoon-shark-back-and-forth;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
}

#space-ivar {   
    position: fixed;
    top: 85%;
    bottom: auto;
    width: auto;
    animation-name: lost-in-space;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

/*************************************
        ANIMATIONS
*************************************/
@keyframes gull-ivar-flipped-animation {
    0%   {top: 10px; bottom: auto;}
    50%  {top: 30px; bottom: auto;}
    100% {top: 10px; bottom: auto;}
}

@keyframes cartoon-shark-back-and-forth {
    0%   {left: -600px;}
    25%  {transform: scaleX(-1); right: 700px;}
    50%  {left: 700px;}
    75%  {right: 200px;}
    100% {left: -600px}
}

@keyframes lost-in-space {
    0%   {top: 88%; left: 45%; transform: scale(0.5);}
    20%  {top: 88%; left: 44%; transform: rotate(-67deg) scale(0.5);}
    40%  {top: 80%; left: 44%; transform: rotate(12deg) scale(0.5);}
    60%  {top: 93%; left: 35%; transform: rotate(40deg) scale(0.5);}
    80%  {top: 95%; left: 32%; transform: rotate(90deg) scale(0.5);}
    100% {top: 88%; left: 45%; transform: scale(0.5);}
}


/***************************************
    FLIP CARDS 
    Based upon https://www.w3schools.com/howto/howto_css_flip_card.asp
    Modified.
***************************************/

/*Styles the actual cards*/

.container#flip-container{
    width: 100%;
    top: 15%;
    bottom: auto;
    position: relative;
}
.flip-card {
    background-color: transparent;  
    width: 90%;
    height: 100%;
}

.flip-card-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 30px;
    justify-items: stretch;
    height: 500px;
    min-width: 80%;
    margin: 30px;
    padding: 30px 0px 30px 0px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 22;
    
    transition: transform 0.9s; 
    /*Preserve-3d is required for the back of the card to show, otherwise the front is only mirrored*/
    transform-style: preserve-3d; 
  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    opacity: 100%;
}

/* Position the front and back side */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 12;
}

/* Style the front side (fallback if image is missing) */
.card-front {
    border-radius: 100px;
    background-color:#009dc4;
    color: #FFF;
    text-align: center;
}

/* Style the back side */
.card-back {
    text-align: center;
    background-color: #009dc4;
    color: #FFF;
    transform: rotateY(180deg);
    border-radius: 100px;
}

/* Should keep the image in the middle of the card whatever you do to the size */
.card-front img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}