/*Select background image for the whole page*/

#background {
    position: fixed;
    z-index: -2;
    top: 0%;
    height: 100%;
    width: 100%;
    opacity: 100%;
    background: url(images/column.png) no-repeat fixed center;
    background-size: cover;
}

.container.background {

    height: 100%;
    width: 100%;
    background: url(images/column.png) no-repeat fixed center;
    background-size: cover;

}

.container.lion {
    height: fit-content;
    left: 45%;
    bottom: 0%;
    top: auto;

}

.container.lion img {
    width: 75%;
}

.container.gullivar {
    height: fit-content;
    left: 50%;
    top: auto;
    bottom: 40%;
}


.bounce-animator {
    animation: bounce 2s ease-in-out 500ms infinite;
}

.gullivar-thex-img img {
    max-width: 50%;
    position: relative;
    transform: scaleX(-1)
}

#gte-2 {
    bottom: 100px;
    left: 200px;
}


/* using animation to move the speech bubble upwards the frame. */
.frame:hover .container.gullivar .speech-bubble {
    animation: speechBubble 7s ease-in-out 0s;
    animation-fill-mode: forwards;
}

.speech-bubble #bbl-2 {
    top: 0%;
    left: 55%;
    width: 400px;
    height: 400px;
}
#bbl-3{
    left: 10%;
}


 /* Magnus helped and recommended the code below for animation  */
@keyframes speechBubble {
    0% {
        opacity: 0%;
        transform: translate(0px, 0px);
    }

    20% {
        opacity: 100%;
        transform: translate(0px, 0px);
    }

    75% {
        opacity: 100%;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 100%;
        transform: translate(0px, -2000px);
    }
}

#gte-2 div.hover-bounce-effect:hover {
    animation: bounce 5s ease-in-out 0ms infinite;
}

@keyframes bounce {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -60px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

