/*Celect background color for the whole page*/
/* body {
    background-color: #377A98;
    
} */

/* deactivated the transition to ease the visibility*/
#background {
    position: fixed;
    z-index: -2;
    top: 0%;
    height: 100%;
    width: 100%;
    opacity: 100%;
    background: url(images/column.png) no-repeat fixed center;
    background-size: cover;
}

.container.background {

    height: 100%;
    width: 100%;
    background: url(images/column.png) no-repeat fixed center;
    background-size: cover;

}

.container.lion {
    height: fit-content;
    left: 45%;
    bottom: 20%;
    top: auto;

}

.container.lion img {
    width: 100%;


}

.container {
    border: 3px solid red;

}


/* .frame-1 {
    transition-property: all;
    transition-duration: 1s;
    /* background-color: #377A98;
    background-image: url(images/column.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }*/
    




/* #frame-2 {
    z-index: 1;
    background-image: url(images/lion.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;

}  */

.frame-2 {
    width: max-content;
}

.gullivar-thex-img {
    /* width: 200px;
    height: 200px;
    position: relative;
    left: 60%;
    top: 50%; */
    animation: bounce 2s ease-in-out 500ms infinite;
}


.gullivar-thex-img img {
    max-width: 50%;
    position: relative;
    transform: scaleX(-1)
}

#gte-1 {
    bottom: 50px;
    left: 33px;
}

#gte-2 {
    bottom: 50px;
    left: 33px;
}


/* .container.bbl-1 {
    padding-left: 800px;
    /* width: 100px;
    height: 100px; */
/* position: relative;
    top: 25%;
    left: 0%;
} */

#bbl-1 {
    left: 30%;
    font-size: 35px;

}

#bbl-3 {
    left: 30%;
    font-size: 50px;

}

.speech-bubble #bbl-2 {
    top: 0%;
    left: 55%;
    width: 400px;
    height: 400px;
}


#gull-thex-container {
    top: 50%;
    padding-top: 30%;
}

.container.gullivar {
    height: fit-content;
    left: 50%;
    top: auto;
    bottom: 40%;

}

/* got this code tips from Magnus, line: 60-79 */
#frame-1:hover~#.container.gullivar {
    animation-name: speechBubble;
    animation-delay: 5s;
    animation-duration: 5s;
}

@keyframes speechBubble {
    0% {
        opacity: 0%;
        transform: translate(0px, 0px);
    }

    20% {
        opacity: 100%;
        transform: translate(0px, 0px);

    }

    100% {
        opacity: 100%;
        transform: translate(0px, -2000px);
    }
}

#frame-2:hover~#bbl-3 {
    animation-name: speechBubble;
    animation-delay: 1s;
    animation-duration: 5s;
}

@keyframes speechBubble {
    0% {
        opacity: 0%;
        transform: translate(0px, 0px);
    }

    20% {
        opacity: 100%;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 100%;
        transform: translate(0px, -2000px);
    }
}

/* ting fra template css filen */

#frame-id .container {
    transform: scale(1);
}

#container-id {
    width: 100%;
    height: 100%;
}

#container-id {
    top: auto;
    right: 20%;
    bottom: 15%;
    left: auto;
}

.speech-bubble {
    position: relative;
    /* height: 45%; */
    bottom: 50%;
    top: auto;
    /* top: 30%;
    left: 15%; */

}

#speech-bubble-2 {
    top: auto;
    left: auto;
    bottom: 22%;
    right: 14%;
}

#speech-bubble-3:hover {
    animation: bounce 1s ease-in-out 0ms infinite;
}

#speech-bubble-3:hover .bubble-text::after {
    /* content: '\A\A Hah! Jeg reagerer også på hover ;)'; */
    /* OBS OBS OBS OBS
    
    
    Ikke bruk white-space i de faktiske filene, er bare med som en visual joke 
    
    
    */
    white-space: pre;
}

@keyframes bounce {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -15px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

/* #container-id .speech-bubble .arrow {
    left: -5px;
    bottom: 70px;
    transform: rotate(135deg);
} */

/* #frame-id:hover #container-id div {
    transform: scale(1.2);
} */
/* 
.container.class-x {
    background-color: violet;
}

body {
    background-color: skyblue;
}
 */



/* .container#centered {
    height: 20%;
    width: 100%;
    top: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* aligns on vertical for column */
/* align-items: center; */
/* aligns on horizontal for column */
}

/* .container#centered div {
    background-color: skyblue;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
} */

