*{
    padding: 0;
    margin: 0;
}
.page{
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
<<<<<<< HEAD
}
.nav-buttons{
    position: relative;
    margin: auto;
    padding: 0.5%;
    opacity: 100%;
    background-color: #459ca3;
    text-align: center;
    width: 15%;
    border-radius: 15px;
}
.nav-buttons:hover{
    opacity: 100%;
}
a{
    color: white;
    position: relative;
    font-size: 19px;
    text-decoration: none;

=======
    opacity: 0%;
    position: fixed;
>>>>>>> bf8142f05f3f651438300793dd8db647d0926918
}
.frame{
    z-index: 2;
    width: 100%;
    height: 1440px;
    text-align: center;
    background-color: #0000;
}
/*
***************************
Buttons
***************************
*/
.nav-buttons{
    text-align: center;
    height: 30px;
    width: 150px;
    margin: 0 auto;
    background-color: #777;
    border-radius: 4px;
}
.nav-buttons a{
    font-size: 20px;
}
.nav-buttons a:first-child::before{
    content: "Tilbake";
}
.nav-buttons a:nth-child(2)::before {
    content: "Frem";
}

