/*************************
    DEBUG/UTVIKLERMODUS + TIPS

    HUSK Å SLETTE MEG FØR INNLEVERING!!!!
*************************/


/* VIS ALLE ELEMENTER I EN FRAME UTEN Å BRUKE HOVER - BRUK DETTE TIL Å LAGE LAYOUT PER FRAME: */
#frame-id .container{
    transform: scale(1);
}
/* GENERÉR RØD BORD RUNDT ALLE CONTAINERE: */
.container{
    border: 3px solid red;
}

/* HVIS DU VIL AT EN CONTAINER SKAL DEKKE HELE SKJERMEN: */
#container-id{
    width: 100%;
    height: 100%;
}

/*  HVIS DU VIL FLYTTE PLASSERINGEN TIL "PILEN" TIL EN SNAKKEBOBLE TIL VENSTRE SIDE: */
#container-id .speech-bubble .arrow{
    left: -5px;
    bottom: 70px;
    transform: rotate(135deg);
}

/* HVIS DU VIL ANIMERE TING I EN FRAME NÅR DU HOVRER PÅ SELVE FRAMEN (MÅ IKKE VÆRE DIV, KAN
VÆRE HVILKEN SOM HELST TAG DU VIL): */
#frame-id:hover #container-id div{
    transform: scale(1.2);
}

/* HVIS DU VIL STILSETTE MANGE CONTAINERE LIKT UTEN Å GI ALLE UNIK ID (PASS PÅ AT DET IKKE ER MELLOMROM MELLOM KLASSENE): */
.container.class-x{
    background-color: violet;
}
/* ^ I HTML MÅ DU SKRIVE class="container class-x" FOR AT DET SKAL VIRKE. DETTE GJØR AT MAN KOMBINERER KLASSER. class-x 
KAN VÆRE HVA ENN DU VIL, SÅ LENGE DET IKKE ER CONTAINER */

/*************************
    ^ HUSK Å SLETTE MEG FØR INNLEVERING!!!!
*************************/

/*******************
Custom content
*******************/
#background{
    position: fixed;
    z-index: -2;
    top: 0%;
    height: 100%;
    width: 100%;
    opacity: 100%;
    background-color: #377a98;
    transition-property: background-color;
    transition-duration: 1s;
}
.surface{
    position: fixed;
    z-index: -1;
    width: 120%;
    height: 20%;
    top: -23%;
    left: -10%;
    background-color: skyblue;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    animation: wave 5s ease-in-out 0ms infinite;
    transition: top 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#frame-2:hover #whale-octo img{
    transform: scale(1.2);
}
.container.gull-ivar{
    height: fit-content;
    top: 23%;
    left: 33%;
}
#gi-1{
    bottom: 50px;
    left: 33px;
}
#gi-2{
    bottom: 20%;
    left: 33%;
}
#gi-2 .speech-bubble .arrow{
    left: -5px;
    bottom: 70px;
    transform: rotate(135deg);
}
#frame-1:hover .surface{
    top: -10%;
}
.img-container{
    animation: bounce 2s ease-in-out 0s infinite;
}
.img-container img{
    transform: scaleX(-1);
    position: relative;
    max-width: 70%;
}
#sign-twilight{
    top: 20%;
    right: 22%;
}
.sign{
    width: fit-content;
    padding: 15px 15px;
    border-radius: 15px;
    background-color: #d3c1a3;
    border: 4px solid #684406;
    transform: rotate(22deg);
}
#sign-twilight:hover{
    animation: bounce 2s ease-in-out 0s infinite;
}
/*******************
Speech bubbles
*******************/
.speech-bubble{
    position: relative;
    animation: bounce 2s ease-in-out 500ms infinite;
}

/*******************
Setting & positioning frames
*******************/

/*******************
Frame 1
*******************/

/*******************
Frame 2
*******************/
#whale-octo{
    right: 20%;
    top: 30%;
    
}
#whale-octo img{
    height: 300px;
    width: auto;
}

/* #frame-2:hover ~ #background{
    background-color: #377a98;
} */

/*******************
Frame 3
*******************/

/* #frame-3:hover ~ #background{
    background-color: #377a98;
} */

/*******************
Frame 4
*******************/

/* #frame-4:hover ~ #background{
    background-color: #152069;
} */

/*******************
Frame 5
*******************/

/*******************
Frame 6
*******************/



/*******************
Animations
*******************/
@keyframes bounce{
    0%{transform: translate(0px, 0px);}
    50%{transform: translate(0px, -15px);}
    100%{transform: translate(0px, 0px);}
}
@keyframes wave{
    0%{
        transform: translate(0px, 0px) rotate(-2deg);
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 0%;
    }
    50%{
        transform: translate(0px, -15px)rotate(2deg);
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 50%;
    }
    100%{
        transform: translate(0px, 0px)rotate(-2deg);
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 0%;
    }
}
@keyframes slideFromBottom{
    0%{
        transform: translate(0px, 1500px);
    }
    75%{
        transform: translate(0px, -30px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
@keyframes slideFromTop{
    0%{
        transform: translate(0px, -1500px);
    }
    75%{
        transform: translate(0px, 30px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
@keyframes slideFromLeft{
    0%{
        transform: translate(-5000px, 0px);
    }
    75%{
        transform: translate(30px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
@keyframes slideFromRight{
    0%{
        transform: translate(5000px, 0px);
    }
    0%{
        transform: translate(-30px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}