/*******************
Slides
*******************/
.page{
    transition-property: all;
    transition-duration: 1s;
}
#background{
    opacity: 100%;
    background-color: #4eadaf;
}
.gull-ivar{
    border: 2px solid red;
    position: absolute;
    top: unset;
    left: unset;
    
}
#page-1 .gull-ivar{
    top: 23%;
    left: 33%;
}
.gull-ivar img{
    margin-top: 13%;
    position: relative;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}
.box{
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-top-right-radius: 100%;
    background-color: blueviolet;
}
/*******************
Speech bubbles
*******************/
.speech-bubble{
    top: 0;
    left: 0;
}

/*******************
Slides
*******************/


#frame-1:hover ~ #page-1{
    opacity: 100%;
}

#frame-2:hover ~ #page-2{
    opacity: 100%;
}
#frame-2:hover ~ #background{
    background-color: #4eadaf;
}

#frame-3:hover ~ #page-3{
    opacity: 100%;
}
#frame-3:hover ~ #background{
    background-color: #4eadaf;
}

#frame-4:hover ~ #page-4{
    opacity: 100%;
}
#frame-4:hover ~ #background{
    background-color: #4eadaf;
}

#frame-5:hover ~ #page-5{
    opacity: 100%;
}
#frame-5:hover ~ #background{
    background-color: #4eadaf;
}

#frame-6:hover ~ #page-6{
    opacity: 100%;
}
#frame-6:hover ~ #background{
    background-color: #4eadaf;
}

@keyframes slideFromBottom{
    0%{
        transform: translate(0px, 1500px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
@keyframes slideFromTop{
    0%{
        transform: translate(0px, -1500px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
@keyframes slideFromLeft{
    0%{
        transform: translate(5000px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
@keyframes slideFromRight{
    0%{
        transform: translate(-5000px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}