/*HANNA*/

/*
BACKGROUND
*/

    body, html{
      height: 100%;
      background-image: url("images/titanic.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }


/* 
DESTINATION
*/
    #destination{
      font-size: 200px;
      position: relative;
      left: 30%;
    }
  

/* 
GULLIVAR
*/
    .titanic-gullivar{
      width: 150px;
    }

    .container.gull-ivar {
      animation-name: float;
      animation-duration: 4s;
      animation-timing-function: linear; 
      animation-iteration-count: infinite;
      /* width: 250px; */
      left: 980px;
      bottom: 100px;
      top: auto;
    }

    @keyframes float {
      0%, 100% {
        bottom: 100px;
      }
      50% {
        bottom: 150px;
      }
    }

/*
NECKLACE
*/
  #frame-1:hover #necklace{
    transform: scale(0.1);
    left: 700px;
    top: 130px;
    animation-name: necklace-sink;
    animation-duration: 7s;
    animation-timing-function: linear;
    position: absolute;
  }

    @keyframes necklace-sink {
      0% { 
        top: -400px; 
      }
      90% { 
        top: 120px; 
      }
      100% {
        top: 130px;
      }
    } 
  
/* 
JACK 
*/

#jack{
  top: auto;
  bottom: -300px;
  left: 880px;
}
#frame-3 #jack div img{
  width: 100px;
}
#frame-3:hover .container#jack > div{
    animation-name: jack-frozen;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }

    @keyframes jack-frozen {
      0%, 100% { 
          transform: translate(0px, 0px);
      }
      50% { 
          transform: translate(0px, -250px);
      }
    }

#link{
  text-decoration: none;
  color: blue;
}