#frame-1:hover ~ #page-1{
    opacity: 100%;
}
#frame-2:hover ~ #page-2{
    opacity: 100%;
}
#frame-3:hover ~ #page-3{
    opacity: 100%;
}
#frame-4:hover ~ #page-4{
    opacity: 100%;
}

/* 
setting background image for all frames 
*/
  body, html {
    height: 100%;
    margin: 0;
  }
  #background {
    opacity: 100%;
    background-image: url("images/titanic.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


/* 
DESTINATION PAGE
*/
  #destination{
    font-size: 200px;
    position: relative;
    left: 20%;
  }


/* 
GULLIVAR
*/
  .titanic-gullivar {
    animation: float 3s linear infinite;
    position: absolute;
    width: 15%;
    left: 80%;
    top: 40%;

  }
  
  @keyframes float {
    0%, 100% {
      top: 50%;
    }
    50% {
      top: 53%;
    }
  }
   
/* 
TEXT BOX
*/
    #bbl-2{
        font-size: 15px;
        top: 30px;
        left: 1000px;
    }
    #bbl-3{
        font-size: 15px;
        top: 115px;
        left: 1000px;
    }

 
/* 
JACK 
*/

#frame-3:hover ~ #page-3 #jack {
    width: 20px;
    left: 200px;
    top: 100%;
    animation-name: jack-frozen;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    position: absolute;
    }

    @keyframes jack-frozen {
        0%, 100% { 
          top: 100%; 
        }
        50% { 
          top: 90%; 
        }
        
    }

  /*
  NECKLACE
  */

#frame-1:hover ~ #page-1 #necklace{
      transform: scale(0.1);
      left: 700px;
      top: 130px;
      animation-name: necklace-sink;
      animation-duration: 7s;
      animation-timing-function: linear;
      position: absolute;
      }
  
      @keyframes necklace-sink {
          0% { 
            top: -400px; 
          }
          90% { 
            top: 120px; 
          }
          100% {
            top: 130px;
          }
      }
    