/*HANNA*/

/*
GENERAL
*/

  body, html{
    height: 100%;
    background-image: url("images/titanic.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  }

  
/* 
GULLIVAR
*/
  .titanic-gullivar{
    width: 15%;
  }

  .container.gull-ivar {
    animation: float 3s linear infinite;
    position: absolute;
    width: 15%;
    left: 80%;
    top: 40%;
    height: fit-content;
  }

  @keyframes float {
    0%, 100% {
      top: 50%;
    }
    50% {
      top: 53%;
    }
  }


/* 
PAGE 1
*/
  #destination{
    font-size: 200px;
    position: relative;
    left: 20%;
  }

  #frame-1:hover #necklace{
    transform: scale(0.1);
    left: 700px;
    top: 130px;
    animation-name: necklace-sink;
    animation-duration: 7s;
    animation-timing-function: linear;
    position: absolute;
    }

    @keyframes necklace-sink {
        0% { 
          top: -400px; 
        }
        90% { 
          top: 120px; 
        }
        100% {
          top: 130px;
        }
    } 
 
/* 
JACK 
*/

#jack {
    width: 20px;
    left: 200px;
    top: 100%;
    animation-name: jack-frozen;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    position: absolute;
    }

    @keyframes jack-frozen {
        0%, 100% { 
          top: 100%; 
        }
        50% { 
          top: 90%; 
        }
        
    }

