/*************************
Coded by: Maria Tan
**************************/
#background{
    position: fixed;
    z-index: -2;
    top: 0%;
    height: 100%;
    width: 100%;
    opacity: 100%;
    background: url(images/UNDER.jpg) no-repeat center fixed;
    background-size: cover;
}
.container.background{
    height: 100%; 
    width: 100%;
    background: url(images/UNDER.jpg) no-repeat center fixed;
    background-size: cover;
}
#link{
    text-decoration: none;
    color: blue;
}

.img-container{
    animation: bounce 2s ease-in-out 500ms infinite;
}
.img-container img{
    transform: scaleX(-1);
    position: relative;
    max-width: 500%;   
}

/*************************
Fish
**************************/
.container.gull-ivar{
    height: fit-content;
    bottom: 10%;
    left: 10%;
    top: auto;
}
.container.lakselars{
    height: fit-content;
    bottom: 10%;
    right: auto;
    left:70%;
    top: auto;
}

/*************************
Speech-bubble
**************************/
.speech-bubble{
    position: relative;
    animation: bounce 2s ease-in-out 500ms infinite;
}
/*************************
Animations
*************************/
@keyframes bounce{
    0%{transform: translate(0px, 0px);}
    50%{transform: translate(0px, -15px);}
    100%{transform: translate(0px, 0px);}
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes slideRight{
    0%{
        transform: translate(-500px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }

}
@keyframes slideLeft{
    0%{
        transform: translate(1000px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
@keyframes furtherRight{
    0%{
        transform: translate(0px, 0px);
    }
    100%{
        transform: translate(800px, 0px);
    }
}
@keyframes returnPosition{
    0%{
        transform: translate(800px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
@keyframes fadeInOut{
    0%{
        opacity: 0%;
    }
    10%{
        opacity: 50%
    }
    15%{
        opacity: 100%;
    }
    90%{
        opacity: 100%;
    }
    95%{
        opacity: 50%;
    }
    100%{
        opacity: 0%;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    90%{
        opacity: 0%;
    }
    95%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }

}
@keyframes flipflop{
    0%{
        transform: translate(0px, 0px);
    }
    90%{
        transform: translate(0px, 0px);
    }
    93%{
        transform: rotateY(180deg);
    }
    95%{
        transform: translate(0px, 0px);
    }
    100%{
        transform:translate(1000px, 0px);
    }
}

/*******************
Frame 1
*******************/
/* Duplicated animations to facilitate multiple speech-bubbles. 
Image is set to 0% opacity on duplicate */
#frame-1:hover #gull-1a{
    animation: 
    bounce 2s ease-in-out 500ms infinite,
    slideRight 1s ease-in-out;
}
#frame-1:hover #gull-1b{
    animation: 
    bounce 2s ease-in-out 500ms infinite,
    fadeIn 2s ease-in-out;
}
#gull-1b .img-container{
    opacity: 0%;
}
#frame-1:hover #bbl-01{
    animation: 
    bounce 2s ease-in-out 500ms infinite,
    fadeIn 2s;
}
/*******************
Frame 2
*******************/
#frame-2:hover #gull-2a{
    animation:
    bounce 2s ease-in-out 500ms infinite,
    furtherRight 5s ease-in-out;
    animation-fill-mode: forwards;
}
/* Setting opacity of bubble that is in "background", since the next doesn't fully cover it */
#gull-2a .speech-bubble{
    opacity: 100%;
    transition-property: opacity;
    transition-delay: 2.7s;
    transition-duration: 0.2s;
}
#frame-2:hover #gull-2a .speech-bubble{
    opacity: 0%;
}
#frame-2:hover #gull-2b{
    animation:
    bounce 2s ease-in-out 500ms infinite,
    furtherRight 5s ease-in-out;
    animation-fill-mode: forwards;
}
#gull-2b .img-container{
    opacity: 0%;
}
#frame-2:hover #bbl-02{
    animation: 
    bounce 2s ease-in-out 500ms infinite,
    fadeIn 3s;
}
#frame-2:hover #lakselars-1a{
    animation:
    shake 1s infinite,
    slideLeft 4s ease-in-out;
}
#frame-2:hover #lakselars-1b{
    animation:
    shake 1s infinite,
    slideLeft 4s ease-in-out;
}
#lakselars-1b .img-container{
    opacity: 0%;
}
#frame-2:hover #bbl-03{
    animation: 
    bounce 2s ease-in-out 500ms infinite,
    fadeIn 5s;
}
/*******************
Frame 3
*******************/
#frame-3:hover .container.gull-ivar{
    transform: translate(800px, 0px);
}
#frame-3:hover #lakselars-2{
    animation:
    shake 1s infinite;
}
#frame-3:hover #bbl-04{
    animation: fadeIn 1s
}
/*******************
Frame 4
*******************/
#frame-4:hover .container.gull-ivar{
    transform: translate(800px, 0px);
}
#frame-4:hover #bbl-05{
    animation:
    fadeInOut 5s;
    animation-fill-mode: forwards;
}

#frame-4:hover #lakselars-3{
    animation:
    flipflop 6s;
    animation-fill-mode: forwards;
}
/*******************
Frame 5
*******************/
#frame-5:hover #gull-5{
    animation:
    returnPosition 3s;
    animation-fill-mode: forwards;
}