*{
    padding: 0.1%;
    margin: 0;
}
.page{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0%;
}
page*{
    position: relative;
}
.frame{
    z-index: 2;
    width: 100%;
    height: 1440px;
    text-align: center;
}
/****************************
Buttons
****************************/
.nav-buttons{
    text-align: center;
    width: 15%;
    margin: 0 auto;
    background-color:#459ca3;
    border-radius: 4px;
    /* padding: 0.5%; */
}
.nav-buttons :hover{
    color: white;
}
.nav-buttons a{
    font-size: 20px;
    color:black;
}
.nav-buttons a:first-child::before{
    content: "Tilbake";
}
.nav-buttons a:nth-child(2)::before{
    content: "Frem";
    
}

/****************************
Speech Bubbles
****************************/

.speech-bubble {
	position: relative;
	background: #d3c1a3;
	border-radius: 10%;
}

.speech-bubble:after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	border: 32px solid transparent;
	border-left-color: #d3c1a3;
	border-right: 0;
	border-top: 0;
	margin-top: -16px;
	margin-right: -32px;
}

